{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock  %}

{% block content %}
<section class="form-page">
    <section class="form-header">
        {% if object %}
            <h1>Edit Todo</h1>
        {% else %}
            <h1>Add A Todo</h1>
        {% endif %}
    </section>
    <form action=""method="post" autocomplete="off" class="form-container">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button type="submit">Submit!</button>
    </form>
</section>


{% endblock  %}