{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock  %}


{% block content %}
<main>
<section class="page-header">
    <h1>To Do List</h1>
</section>

<section class="table-container">
    <table>
        <thead><tr><th>Priority Items</th></tr></thead>
        <tbody>
            {% for todo in todos %}
            {% if todo.is_priority == True %}
                {% if todo.is_completed %}
                    <tr class="row-container">
                        <td class="completed">
                            <span><a class="checkbox" href="{% url 'uncross_off' todo.id%}">☐</a></span>
                            {{todo.name}}
                        </td>
                    
                        <td class='todo-actions' >
                            <a class="edit-button" href="{% url 'todos_update' todo.id %}">Edit</a>
                            <a class="delete-button"  href="{% url 'todos_delete' todo.id %}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="row-container">
                        <td>
                            <span><a class="checkbox" href="{% url 'cross_off' todo.id%}">☐</a></span>
                            {{todo.name}}
                        </td>
                    
                        <td class='todo-actions' >
                            <a class="edit-button" href="{% url 'todos_update' todo.id %}">Edit</a>
                            <a class="delete-button"  href="{% url 'todos_delete' todo.id %}">Delete</a>
                        </td>
                    </tr>

                {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead><tr><th>Non-Priority Items</th></tr></thead>
        <tbody>
            {% for todo in todos %}
            {% if todo.is_priority == False %}
                <tr><td>
                    <div class="cell-container">
                    <span>○ {{todo.name}} </span>
                    <span class='todo-actions'>
                        <a class="edit-button" href="{% url 'todos_update' todo.id %}">Edit</a>
                        <a class="delete-button" href="{% url 'todos_delete' todo.id %}">Delete</a>
                    </span>
                    </div>
                </td></tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
</section>
</main>
{% endblock  %}