{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock  %}

{% block content %}

<section class="frame">
    <img src="{% static 'images/sticky-note.png' %}" alt="Wall art">
</section>

<section class="about-overlay">
    <h2>Welcome to yooDoo!</h2>
    <p>Our only goal today is to help you get in the right mindset to tackle all of your daily tasks! We are so excited for you to take on today! </p>
</section>

<main>
<img src="{% static 'images/notebookpaper.png' %}" alt="Notebook Paper" class="list-bg">
<section class="page-header">
    <h1>To Do List</h1>
</section>

<section class="table-container">
    <table>
        <thead><tr><th>Priority Items</th></tr></thead>
        <tbody>
            {% for todo in todos %}
            {% if todo.is_priority == True %}
                {% if todo.is_completed %}
                    <tr class="row-container">
                        <td class="completed">
                            <span><a class="checkbox" href="{% url 'uncross_off' todo.id%}">☐</a></span>
                            {% include 'offcanvas.html' with name=todo.name details=todo.details %}
                        </td>
                        <td class='todo-actions' >
                            <a class="edit-button" href="{% url 'todos_update' todo.id %}">Edit</a>
                            <a class="delete-button"  href="{% url 'todos_delete' todo.id %}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="row-container">
                        <td>
                            <span><a class="checkbox" href="{% url 'cross_off' todo.id%}">☐</a></span>
                            {% include 'offcanvas.html' with name=todo.name details=todo.details %}
                        </td>
                    
                        <td class='todo-actions' >
                            <a class="edit-button" href="{% url 'todos_update' todo.id %}">Edit</a>
                            <a class="delete-button"  href="{% url 'todos_delete' todo.id %}">Delete</a>
                        </td>
                    </tr>

                {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead><tr><th>Non-Priority Items</th></tr></thead>
        <tbody>
            {% for todo in todos %}
            {% if todo.is_priority == False %}
                {% if todo.is_completed %}
                    <tr class="row-container">
                        <td class="completed">
                            <span><a class="checkbox" href="{% url 'uncross_off' todo.id%}">☐</a></span>
                            {% include 'offcanvas.html' with name=todo.name details=todo.details %}
                        </td>
                    
                        <td class='todo-actions' >
                            <a class="edit-button" href="{% url 'todos_update' todo.id %}">Edit</a>
                            <a class="delete-button"  href="{% url 'todos_delete' todo.id %}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="row-container">
                        <td>
                            <span><a class="checkbox" href="{% url 'cross_off' todo.id%}">☐</a></span>
                            {% include 'offcanvas.html' with name=todo.name details=todo.details %}
                        </td>
                    
                        <td class='todo-actions' >
                            <a class="edit-button" href="{% url 'todos_update' todo.id %}">Edit</a>
                            <a class="delete-button"  href="{% url 'todos_delete' todo.id %}">Delete</a>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>  
</section>
</main>

<section class="plant">
    <lottie-player src="https://assets7.lottiefiles.com/temp/lf20_hKSrGc.json"  background="transparent"  speed="0.85"  style="width: 39vw; height: 39vw;"  loop  autoplay></lottie-player>

</section>

{% endblock  %}