{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cat-index.css' %}"/>
{% endblock  %}


{% block content %}

<section class="page-header">
    <h1>To Do List</h1>
</section>

<section class="card-container">
    <table>
        <thead><tr><th>Priority Items</th></tr></thead>
        <tbody>
            {% for todo in todos %}
            {% if todo.is_priority == True %}
                <tr><td>
                    <div>
                    {{todo.name}}
                    <span class='todo-actions'>
                        <a href="{% url 'todos_update' todo.id %}">Edit</a>
                        <a href="{% url 'todos_delete' todo.id %}">Delete</a>
                    </span>
                    </div>
                </td></tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead><tr><th>Non-Priority Items</th></tr></thead>
        <tbody>
            {% for todo in todos %}
            {% if todo.is_priority == False %}
                <tr><td>
                    <div>
                    {{todo.name}}
                    <span class='todo-actions'>
                        <a href="{% url 'todos_update' todo.id %}">Edit</a>
                        <a href="{% url 'todos_delete' todo.id %}">Delete</a>
                    </span>
                    </div>
                </td></tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
</section>

{% endblock  %}