{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/to-do-list.png' %}"/>
    <title>I Got This ToDo App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    {% block head %}
    {% endblock  %}
</head>
<body>
    <header>
        <div class='header-logo-container'>
            <a href="/">INSERT IMAGE FOR HOME</a>
        </div>
    </header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'todos_index' %}">My To-Dos</a></li>
                <li><a href="{% url 'todos_create' %}">Add a Todo</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'home' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock  %}
    </main>
</body>
</html>