{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock  %}

{% block content %}
<main>
{% if user.is_authenticated %}
<section class="logo-container">
    <lottie-player src="https://assets7.lottiefiles.com/temp/lf20_hKSrGc.json"  background="transparent"  speed="0.88"  style="width: 50vw; height: 50vw;"  loop  autoplay></lottie-player>

</section>
{% endif %}
{% if not user.is_authenticated %}
    <section class="logo-container">
        <lottie-player src="https://assets7.lottiefiles.com/temp/lf20_hKSrGc.json"  background="transparent"  speed="0.88"  style="width: 35vw; height: 35vw;"  loop  autoplay></lottie-player>

    </section>
    <section>
        <form action="{% url 'home' %}" method="post" class="login">
            <h1>Log In</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" >Log In!</button>
        </form>
    </section>
{% endif %}
</main>
{% endblock  %}