{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% endblock  %}

{% block content %}

{% if user.is_authenticated %}
<section class="logo-container-big">
    <h1>Happy Working! You got it! </h1>
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_oojuetow.json"  background="transparent"  speed="0.6"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>

</section>
{% endif %}
{% if not user.is_authenticated %}

<main class="login-screen">
    <section class="logo-container">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_oojuetow.json"  background="transparent"  speed="0.5"  style="width: 430px; height: 430px;"  loop  autoplay></lottie-player>

    </section>
    <section>
        <form action="{% url 'home' %}" method="post" class="login">
            <h1>Log In</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" >Log In!</button>
        </form>
    </section>
</main>
{% endif %}

{% endblock  %}