html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
  :root {
      font-size: 62.5%
}

body {
    font-size: 2rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    background-color: #f0e6d4;
}

header {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 2rem;
  left: 2rem;
}

nav {
  margin: 0 10px 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: #FF8281;
  transform: translateX(10px);
}

.nav-tag {
  max-width: 180px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.nav-tag:hover{
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
