main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.logo-container {
    margin: 0 4rem 0 4rem ;
}
.logo-container-big {
    position: fixed;
    top: 20%;
}

.logo-container-big h1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px; 
}
  
.login h1 {
    font-size: 4rem;
    margin: 10px 0 16px 0;
}
  
.login > p {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.login label {
    font-size: 2rem;
    margin-bottom: 7px;
}
  
.login input {
    font-size: 1.75rem;
    padding: 2px;
}
  
.login button {
    margin-right: 0;
    margin-top: 10px;
    background-color:#1ad688;
	border-radius:8px;
    border: 0px;
    color:#ffffff;
	font-weight:bold;
    font-size: 1.5rem;
	padding:0.75rem 1rem;
    text-decoration:none;
}

.login button:hover {
    background-color:#08b66d;
}

