main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

h1 {
	position: absolute;
	top: 18%;
	left: 45%;
	font-size: 3rem;
}

.about-overlay {
	opacity: 0;
	width: 20%;
	position: absolute;
	top: 45%;
	left: 5%;
}

.about-overlay:hover{
	opacity: 0.8;
}

.table-container {
	position: absolute;
	top: 22%;
	left: 31%;
    margin: 1rem 5rem;
    align-items: center;
	z-index: 1;
}

.list-bg {
	position: absolute;
	top: 0;
	left: 25%;
	max-width: 640px;
	z-index: -1;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 3rem;
    width: 42rem;
}

thead {
    padding: 1rem 0;
}
td {
    padding: 1rem 0;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-button {
	background-color:#ffc663;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
    font-size: 1.5rem;
	padding:0.75rem 1rem;
	text-decoration:none;
}
.edit-button:hover {
	background-color:#faaa55;
}
.edit-button:active {
	position:relative;
	top:1px;
}
.delete-button {
	background-color:#ff8282;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
    font-size: 1.5rem;
	padding:0.75rem 1rem;
	text-decoration:none;
}
.delete-button:hover {
	background-color:#f06969;
}
.delete-button:active {
	position:relative;
	top:1px;
}

.completed{
	text-decoration: line-through;
	color: gray;
}

.completed-buttons{
	background-color:#ff8282;
}

.checkbox {
	text-decoration: none;
    color: inherit;
}

.checkbox:hover {
	color: green;
}

.todo-name {
	background: none!important;
	border: none;
	padding: 0!important;
	font-family: 'Assistant', sans-serif;
	font-weight: 200;
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
}