main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

h1 {

}

.table-container {
    margin: 1rem 5rem;
    align-items: center;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 3rem;
    width: 50rem;
}

thead {
    padding: 1rem 0;
}
td {
    padding: 1rem 0;
}

.cell-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}